body {
    background-color: rgb(0, 0, 0);  
    margin: 0px;  
    height: 100vh;
    width: 100vw;
    
    display: grid;
    place-items: center;
  }
  
  h1 {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: clamp(2em, 2vw, 4em);
    font-weight: 400;
    margin: 0px;
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    color: black;
    font-family: "Rubik", sans-serif;
    font-size: 2em;
    font-weight: 400;
    margin: 0px;
    align-items: center;
  }
  
  a{
    text-decoration:none;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius:3vmin;
    transition: background-color 400ms, border-color 400ms;
  }
  
  a:link { text-decoration: none; }
  
  
  a:visited { text-decoration: none; }
  
  
  a:hover { 
    text-decoration: none; 
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.075);
  }
  
  
  a:active { text-decoration: none; }
  
  .card-groups,
  .card-group,
  .card {
    aspect-ratio: 5 / 7;
  }
  
  .card-groups,
  .card-group,
  .big-card {  
    width: 45vmin;
  }
  
  .card-group {
    position: absolute;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
    box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.4);
    
    background-position: center;
    background-size: cover;
  }
  
  .big-card {
    border-radius: 1vmin;
  }
  
  .little-card {
    
    box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.5);
    width: 30vmin;
    border-radius: 2vmin;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  
  .text-blurb{
    pointer-events: none;
    transform:translateY(-80%);
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inherit;
  }
  
  .text-group1{
    transform:translateY(50%);
    opacity:1;
    transition-delay:1s;
    transition-property:opacity;
    transition-duration:1s;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inherit;
  }
  
  .text-group2{
    transform:translateY(-50%);
    opacity:0;
    transition-delay:2s;
    transition-property:opacity;
    transition-duration:1s;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inherit;
  }
  
  .contact-block{
    height:30%;
    width:90%;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius:3vmin;
    transform:translate(2.5%,2.5%);
    margin:1.5%;
    cursor: pointer;
    align-items: center;
    display: inline-flex;
  }
  
  img{
      top: 0;
      bottom: 0;
  }
  
  .contact-image{
    margin:5%;
    height: 80%; /* or any custom size */
  }
  
  .resume-block{
      width:95%;
      height:95%;
      background-color: rgba(0, 0, 0, 0.1);
    
      border: 1px solid rgba(0, 0, 0, 0.15);
    transform:translate(2.5%, -97.5%);
    border-radius:3vmin;
    cursor: pointer;
    position:absolute;
  }
  
  .resume-image{
    background-position:center;
    background-size:contain;
    background-image: 
      url("https://upload.wikimedia.org/wikipedia/commons/9/90/Resume_logo.jpeg");
    transform:translate(2.5%, 2.5%);
    border-radius:3vmin;
  
    width:95%;
    height:95%;
  }
  
  .big-card:nth-child(2) {
    transform: translateX(-15%) rotate(-1deg);
    
    scale:1.01;
    /* background-image: url(""); */
  }
  
  .big-card:nth-child(4) {
    transform: rotate(2deg);
  }
  
  .big-card:nth-child(6) {
    transform: translateX(-6%) rotate(-3deg);
  }
  
  .big-card:nth-child(8) {
    transform: translate(10%, 3%) rotate(5deg);
    scale: 1.01;
    background-image: url("https://i.postimg.cc/prLvmF5n/me.jpg");
  }
  
  .little-card:nth-child(1) {
    background-image: url("https://i.postimg.cc/wBpStmST/flower.jpg");  
  }
  
  .little-card:nth-child(3) {
    background-image: url("https://i.postimg.cc/DZfH6Kv9/hiking.jpg");  
  }
  
  .little-card:nth-child(5) {
    background-image: url("https://i.postimg.cc/0Qfx5fjs/dog.jpg"); 
   }
  
  .little-card:nth-child(7) {
    background-image: url("https://i.postimg.cc/ZqxX6qSP/motorcycle-front.jpg");
  }
  
  .card-group:hover > .card {  
    box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.4);
  }
  
  .card-group:hover > .big-card:nth-child(2) {
    transform: translate(-90%, 16%) rotate(-24deg);
  }
  
  .card-group:hover > .big-card:nth-child(4) {
    transform: translate(-35%, 4%) rotate(-8deg);
  }
  
  .card-group:hover > .big-card:nth-child(6) {
    transform: translate(25%, 4%) rotate(8deg);
  }
  
  .card-group:hover > .big-card:nth-child(8) {
    transform: translate(90%, 16%) rotate(22deg);
  }
  
  .card-group:hover > .little-card:nth-child(1) {
    transform: translate(200%, -100%) rotate(-15deg);
  }
  
  .card-group:hover > .little-card:nth-child(3) {
    transform: translate(190%, 20%) rotate(15deg);
  }
  
  .card-group:hover > .little-card:nth-child(5) {
    transform: translate(-300%, -100%) rotate(15deg);
  }
  
  .card-group:hover > .little-card:nth-child(7) {
    transform: translate(-300%, 30%) rotate(-15deg);
  }
  
  .card-group:hover > .text-blurb > .text-group1{
    opacity:0;
    transition-delay:1s;
    transition-property:opacity;
    transition-duration:1s;
  }
  
  .card-group:hover > .text-blurb > .text-group2{
    opacity:1;
  }